
<div class="container h-[100vh]">
    <div>
        <h1>{{ section.settings.header }}</h1>
        <p>{{ section.settings.description }}</p>
    </div>
</div>


{% schema %}
{
    "name": "Main index",
    "settings": [],
    "presets": [{
        "name": "Main Index"
    }]
}

{% endschema %}