
<div class="container">
    <div>
        <h1>{{ section.settings.header }}</h1>
        <p>{{ section.settings.description }}</p>
    </div>
</div>


{% schema %}
{
    "name": "Section",
    "settings": [
            {
                "type": "text",
                "id": "header",
                "label": "Header",
                "default": "Feel free to type"    
            },
            {
                "type": "textarea",
                "id": "description",
                "label": "Description",
                "default": "Feel free to type"
            }
        ],
        "presets": [
            {
                "name": "Section"
            }
        ]
}
{% endschema %}