<h1>This is a custom section</h1>
<p>{{ section.settings.text }}</p>

{%  schema  %} 
{
    "name": "Custom Section",
    "settings": [
        {
            "type": "text",
            "id": "text",
            "label": "Text"
        },
        {
            "type": "image_picker",
            "id": "image_picker",
            "label": "Image Picker"
        }
    ],
    "presets": [
        {
            "name": "Default custom banner section"
        }
    ]
}
{% endschema %}