
<div class="w-full h-[550px] bg-cover bg-center" 
style="background-image: url({{ section.settings.image_picker |  image_url: width 1440: height: 550  }});">
</div>

{%  schema  %} 
{
    "name": "Hero Banner",
    "tag": "section",
    "class": "hero-banner",
    "limit": 2,
    "settings": [
        {
            "type": "richtext",
            "id": "text",
            "label": "Text"
        },
        {
            "type": "image_picker",
            "id": "image_picker",
            "label": "Image Picker"
        },
        {
            "type": "url",
            "id":"url",
            "label" : "URL"
        }
    ],
    "presets": [
        {
            "name": "Hero Banner"
        }
    ]
}
{% endschema %}