<div class="">
    {% if section.settings.image_banner %}     
            <img src="{{ section.settings.image_banner |  image_url: width: 1440, height: 550,  }}"
            width="1440"
            height="550" alt="">
    {% endif %}
</div>


{% schema %}
{
    "name": "Hero banner",
    "settings": [
            {
                "type": "image_picker",
                "id": "image_banner",
                "label": "Hero banner"
            }
        ], 
        "presets": [
            {
                "name": "custom-banner"
            }
        ]
}
{% endschema %}