<h1>This is a custom section</h1>
<p>{{ section.settings.text }}</p>
<a href="{{ section.settings.url }}">{{ section.settings.url }}</a>
{% comment %} {% if section.settings.image_picker %}
    <img src="{{ section.settings.image_picker |  image_url: width:100, height:100  }}"
    width="100"
    height="100" alt="">
{% endif %} {% endcomment %}

{%  schema  %} 
{
    "name": "Custom Section",
    "settings": [
        {
            "type": "text",
            "id": "text",
            "label": "Text"
        },
        {
            "type": "image_picker",
            "id": "image_picker",
            "label": "Image Picker"
        },
        {
            "type": "url",
            "id":"url",
            "label" : "URL"
        }
    ],
    "presets": [
        {
            "name": "Default custom banner section"
        }
    ]
}
{% endschema %}