
<div>
    {{section.settings.text}}
</div>
<a href="{{ section.settings.url }}">{{ section.settings.url }}</a>
{% if section.settings.image_picker %}
    <img src="{{ section.settings.image_picker |  image_url: width:300, height: 300 }}"
    width="300"
    height="300" alt="">
{% endif %} 

{%  schema  %} 
{
    "name": "Custom Section",
    "tag": "section",
    "class": "custom section",
    "limit": 2,
    "settings": [
        {
            "type": "richtext",
            "id": "text",
            "label": "Text"
        },
        {
            "type": "image_picker",
            "id": "image_picker",
            "label": "Image Picker"
        },
        {
            "type": "url",
            "id":"url",
            "label" : "URL"
        }
    ],
    "presets": [
        {
            "name": "Custom Section"
        }
    ]
}
{% endschema %}