<div>
    {% if section.settings.image_banner %}
    <img src="{{{ section.settings.image_banner 
    |  image_url: width: 100, height: 100,  }}}"
    width="100"
    height="100" alt="">
    {% endif %}
</div>


{% schema %}
{
    "name": "Hero banner",
    "settings": [
            {
                "type": "image_picker",
                "id": "image_banner",
                "label": "Hero banner"
            }
        ]
}
{% endschema %}