<h1>This is a custom section</h1>

{%  schema  %} 
{
    "name": "Custom Banner section",
    "settings": [],
    "presets": [
        {
            "name": "Defaul custom banner section"
        }
    ]
}
{% endschema %}