<div>
    {% if section.settings.image_banner %}
    <img src="{{{ section.settings.image_banner 
    |  image_url: width: 50, height: 50,  }}}"
    width="50"
    height="50" alt="">
    {% endif %}
</div>


{% schema %}
{
    "name": "Hero banner",
    "settings": [
            {
                "type": "image_picker",
                "id": "image_banner",
                "label": "Hero banner"
            }
        ]
}
{% endschema %}