<div
  class="w-full h-[100vh] bg-cover bg-center flex justify-start items-center bg-no-repeat"
  style="background-image: url({{ section.settings.image_picker |  image_url: width:1440, height: 550  }});"
>
  <div class="flex flex-col justify-center items-center h-screen p-4">
    <h1>{{ section.settings.heading_text }}</h1>
    <p>{{ section.settings.paragraph_text }}</p>
    <button>Shop Now</button>
  </div>
</div>

{% schema %}
{
    "name": "Hero Banner",
    "tag": "section",
    "class": "hero-banner",
    "limit": 1,
    "settings": [
       {
            "type": "image_picker",
            "id": "image_picker",
            "label": "Image Picker"
        },
        {
            "type": "text",
            "id": "heading_text",
            "label": "Heading",
            "default" : "Dummy Heading"
        },
        {
            "type": "text",
            "id":"paragraph_text",
            "label" : "Description",
            "default" : "Lorem ipsum dolor sit amet consectetur, adipisicing elit."
        }
    ],
    "presets": [
        {
            "name": "Hero Banner"
        }
    ]
}
{% endschema %}
