<h1>My Shop</h1>
{% assign collection = collections['all'] %}
<div class="container">
    {% for product in collection.products %}
        <div class="card-container">
            <div class="card-top"></div>
            <div class="card-body">
                <h2 class="product-title">{{ product.title }}</h2>
            </div>
        </div>
    {% endfor %}
</div>